################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mineswiper/FileContentIndex/29dded64-a2e0-4bb0-8100-cb124e5032c4.vsidx
